/*
general styles

font-family: 'Quicksand', sans-serif;

*/

#footer {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 50px;
    padding-top: 15px;
    margin-top: -20px;
}

html {
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
    /*    font-family: 'Ubuntu', sans-serif !important;*/
}

body {
    margin-bottom: 70px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: #61686e
}

strong {
    font-weight: bold;
}

p {
    font-family: 'Quicksand', sans-serif;
    color: #61686e;
    text-align: justify;
    line-height: 26px;
    font-size: 16px;
}

a:hover {
    text-decoration: none;
}

.clear {
    clear: both !important;
}

button:hover {
    he opacity: 0.7
}

.colored {
    border: 0;
    width: 18%;
    color: #0dc143;
    background-color: #0dc143;
    height: 5px;
    left: 0px;
    position: relative;
    margin-left: 0;
}

img {
    max-width: 100%
}


/* header #2 */

.navbar-default {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 15px 0px;
}

.navbar-default .navbar-brand {
    color: #777
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent
}

.navbar-default .navbar-text {
    color: #777
}

.navbar-default .navbar-nav > li > a button {
    background-color: #25443D;
    padding: 3px 20px;
    border: transparent;
    margin-top: -10px;
    border-radius: 25px;
    color: white
}

.navbar-default .navbar-nav > li > a button i {
    margin-top: 3px;
    margin-left: 7px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif !important;
    letter-spacing: 1px;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    opacity: .7;
    color: white;
    background-color: transparent
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #e7e7e7
}

.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent
}

.navbar-right i {
    margin-top: 14px;
    float: right;
    color: white
}

.social-top i {
    margin-left: 10px;
}

.top-contato ul {
    float: right;
}

.top-contato li {
    float: left;
    list-style: none;
    color: #bebebe;
    font-size: 12px;
    margin-left: 15px;
}

.top-contato i {
    margin-right: 5px;
}

@media (max-width: 767px) {
    .bar-top {
        display: none;
    }

    .social-top {
        display: none;
    }
}

/* footer #2 */

/* 
inputs
*/

input {
    color: #777;
    border: 1px solid lightgrey;
    border-radius: 8px;
    font-size: 14px;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px !important;
}


/* media queries */

@media (max-width: 767px) {
    .bar-top {
        display: none;
    }
    .social-top {
        display: none;
    }
    header .col-md-5:last-child {
        display: none
    }
}


/*
banner
*/

#banner {
    background-image: url('https://docs.google.com/uc?id=1zooFs5vDVcFudrDkslh54UkjpuvcK0-I');
    min-height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin-top: -104px;
}

#banner h4 {
    color: white;
    text-align: right;
}

#banner h1 {
    color: white;
    margin-top: 180px;
    margin-bottom: 40px;
    font-size: 40px;
    width: 60%
}

#banner p {
    color: #e8f3f9;
    font-size: 18px;
    width: 76%
}

#banner .col-md-6:last-child img {
    float: right;
    position: relative;
    bottom: -200px;
}

#banner .col-md-12 {
    margin-top: 130px;
}


/*
para
*/

#porque {
    padding: 240px 0px 60px;
    background-image: url(images/bg_porque.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: bottom;
}

#porque h3 {
    margin-bottom: 60px;
    text-align: center;
}

#porque .col-md-4 {
    height: 120px;
}

#porque .col-md-4 p {
    font-weight: bold;
}

#porque .col-md-4:nth-child(3) {
    border-left: 1px solid gray;
    border-right: 1px solid gray
}

#porque .col-md-4 .col-md-3 img {
    padding-top: 0px;
}


/*
conheca
*/

#conheca {
    padding: 100px 0px;
}

#conheca ul {
    margin-top: 30px !important;
}

#conheca ul li {
    list-style: none;
    font-size: 16px;
    margin-bottom: 10px;
    color: #575858;
    margin-left: -20px;
}

#conheca .col-md-12 {
    margin: 40px 0px;
}

#conheca .col-md-2 img {
    margin-top: 10px;
}

#conheca .col-md-10 {
    margin: 0px;
    padding: 0px;
}

#conheca .col-md-12:first-child h2 {
    font-size: 45px;
    text-align: center;
}

#conheca .col-md-12:first-child p {
    text-align: center;
    font-size: 18px;
}


/*
excelencia
*/

#excelencia {
    padding: 200px 20px 220px;
    text-align: center;
    background-image: url(images/bg_excelencia.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;
}

#excelencia h2 {
    font-size: 40px;
    color: white;
    margin-bottom: 10px;
}

#excelencia h4 {
    font-size: 22px;
    color: white
}


/*
sobre
*/

#sobre {
    padding: 100px 0px
}

#sobre h2 {
    font-size: 45px;
    margin-bottom: 60px;
}

#sobre p {
    margin-bottom: 40px;
}

#sobre img {
    padding-top: 120px;
}


/*
missao
*/

#missao {
    padding: 40px 0px 60px;
    background-color: #eff2f5;
}

#missao h3 {
    font-size: 35px;
    margin-bottom: 40px;
}

#missao h3 strong {
    font-size: 45px;
}

#missao p {
    padding: 20px 40px
}

/*
nossos
*/

#nossos {
    text-align: center;
    padding: 80px 0px;
    background-color: #eff2f5;
    margin-bottom: -100px;
}

#nossos h1 {
    font-size: 45px;
}

/*
servicos
*/

#servicos {
    text-align: center;
    padding: 80px 0px
}

#servicos .item {
    text-align: center;
    padding: 80px 80px;
}

#servicos .item img {
    width: 100px;
    opacity: .5 !important
}

#servicos .item h3 {
    color: black;
    opacity: .5
}

/* test */

#servicos .owl-wrapper .owl-item:nth-child(odd) {
    background-color: #7E8166;
}

#servicos .owl-wrapper .owl-item:nth-child(even) {
    background-color: #9DAC9C;
}

/*
multimarcas
*/

#multimarcas {
    text-align: center;
    padding: 80px 0px
}

#multimarcas h1 {
    margin-bottom: 40px;
    font-size: 45px;
}

/*
fale
*/

#fale {
    padding: 50px 0px 0px;

}

#fale .col-md-12:first-child p {
    text-align: center;
}

#fale .col-md-12:first-child {
    padding: 100px 0px;
    text-align: center;
}

#fale h1 {
    margin-bottom: 40px;
}

#fale h3 {
    color: #61686e;
    font-size: 22px;
}


/*
fale form
*/

/* hack */

#fale .col-md-6:last-child {
    padding: 60px 40px!important;
}

#fale i {
    margin-right: 10px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 10px;
    float: left !important;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #25433D;
    background-color: white;
    font-size: 14px;

}

textarea {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #25433D;
    background-color: white;
    height: 200px;
    font-size: 14px;
}

input[type=submit] {

    background-color: #25433D;
    padding: 20px 40px;
    margin-top: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    color: white;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: bold;
}



/*
mapa
*/

#mapa {
    padding: 0px;
    margin: 0px;
    background-color: #DCD7D6;
    margin-top: 100px;

}

#mapa .col-md-3 {
    background-color: #DCD7D6;
    padding: 70px 20px
}

#mapa .col-md-9 {
    padding: 0px;
    margin: 0px;
}

#mapa iframe {
    width: 100%;
    height: 350px;
    margin-top: -20px;
}


/*
footer 1
*/

footer {
    padding: 100px 0px
}

footer h2 {
    color: #35b2e5;
    font-size: 27px;
    margin-top: 60px;
}

footer .col-md-12 {
    padding: 40px 0px 0px
}

footer img {
    margin-top: -20px;
    margin-bottom: 40px;
}

footer p {
    font-family: 'Barlow Condensed', sans-serif !important;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center !important;
    font-weight: bold;
}


/*
media queries -> mobo
*/

@media (max-width: 767px) {
    .navbar-default .navbar-nav > li > a {
        color: gray;

    }
    .navbar-default .navbar-nav > li > a i {
        color: gray;

    }
    /* 
    here
    */
    header .col-md-2 img {
        margin-top: -40px;
        width: 70px
    }
    .navbar-default .navbar-brand img {
        width: 80px;
        margin-top: -20px;
    }

    .navbar .navbar-collapse {
        text-align: center;
        background: white;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: transparent;
    }
    #missao p {
        padding: 0px
    }
    #fale .col-md-6:last-child {
        padding: 0px !important;
    }
    /* 
    here END
    */
    .bar-top {
        display: ;
    }
    .social-top {
        display: ;
    }
    */
}
